.video-item-details-layout {
  display: flex;
  height: calc(100vh - 64px);
  justify-content: center;
  margin-top: 64px;
}

.sidebar-space {
  width: 240px;
  flex-shrink: 0;
}

.video-bg-light {
  background-color: #f9f9f9;
  flex: 1;
  padding: 24px;
  overflow-y: auto;
  padding-left: 5%;
}

.video-bg-dark {
  background-color: #0f0f0f;
  flex: 1;
  padding: 24px;
  overflow-y: auto;
  padding-left: 5%;
}

.video-details-content {
  max-width: 900px;
}

.video-title {
  margin: 16px 0;
  font-size: 18px;
}

.video-stats-actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.actions-container {
  display: flex;
  gap: 16px;
  border-radius: 5%;
}

.action-btn {
  background: transparent;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 6px;
}

.active-btn {
  color: #2563eb;
}

.inactive-btn {
  color: #64748b;
}

.channel-info {
  display: flex;
  gap: 20px;
  margin: 16px 0;
  align-items: center;
}

.channel-logo-D {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

.loader-container,
.failure-view-container {
  height: 70vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.failure-image {
  width: 260px;
  margin-bottom: 20px;
}

.retry-btn {
  background-color: #2563eb;
  color: #ffffff;
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
}

.text-light {
  color: #1e293b;
}

.text-dark {
  color: #ffffff;
}

@media screen and (max-width: 768px) {
  .video-item-details-layout {
    display: block;
  }

  .sidebar-space {
    display: none;
  }
}
.iconss {
  font-size: 20px;
}
