.login-bg {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.form-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 3%;
  width: 40%;
  max-width: 400px;
  box-shadow: 0 0 5px 2px #616e7c;
  border-radius: 5%;
}
.logo-image {
  height: 20%;
  width: 50%;
  align-self: center;
  margin-bottom: 10%;
}
.input-containers {
  display: flex;
  flex-direction: column;
  margin-bottom: 5%;
}
.input-label {
  display: flex;
  flex-direction: column;
  font-family: 'Roboto';
  font-weight: 600;
  color: #7e858e;
  font-size: 12px;
}
.input-elements {
  padding: 7px;
  margin-top: 2px;
  border-radius: 3px;
  outline: none;
}
.checkbox-container {
  display: flex;
  align-items: center;
  margin-bottom: 5%;
  font-family: 'Roboto';
  font-size: 12px;
  font-weight: 500;
  cursor: pointer;
}
.checkbox-label {
  margin-left: 2%;
  cursor: pointer;
}
.login-btn {
  padding: 7px;
  border: 0px;
  background-color: #3b82f6;
  border-radius: 5px;
  cursor: pointer;
  color: #ffffff;
  font-family: 'Roboto';
  font-weight: 600;
}
.errorMsg {
  font-family: 'Roboto';
  font-size: 12px;
  color: #ff0000;
}
.darkText {
  display: flex;
  flex-direction: column;
  font-family: 'Roboto';
  font-weight: 600;
  color: #ffffff;
  font-size: 12px;
}
